<!-- app/views/schedules/edit.html.erb -->
<h3>Update Job Schedule</h3>
<%= form_with(model: @schedule, local: true) do |form| %>
  <div>
    <%= form.label :name, "Name of Schedule" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :interval, "Interval in minutes" %>
    <%= @schedule.minutes %>
  </div>

  <div>
    <%= form.label :start_time, "Start Time" %>
    <%= form.text_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, "End Time" %>
    <%= form.text_field :end_time %>
  </div>

  <div>
    <%= form.label :hour, "Hour" %>
    <%= form.text_field :hour %>
  </div>

  <div>
    <%= form.label :minutes, "Minutes" %>
    <%= form.text_field :minutes %>
  </div>

  <div>
    <%= form.hidden_field :id %>
    <%= form.submit "Update Schedule" %>
  </div>
<% end %>
<br>
<%= link_to "Home", schedules_path %>
